# Custom
MaximoCoreMLVision/config.plist

# Build generated
Build/
DerivedData/
xcuserdata/

# Other
.DS_Store
*.moved-aside
*.xcuserstate
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
xcuserdata/

# Obj-C/Swift specific
*.hmap
*.ipa

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Packages/
.build/

*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Carthage
Carthage/

# Pods 
Pods/
# swagger-codegen
.swagger-codegen-ignore
.swagger-codegen/

